resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  project: '$(System.TeamProject)'
  organizationUrl: '$(System.TeamFoundationCollectionUri)'
  AKS_NAME: "padasil-aks-demo"
  AKS_RG_NAME: "padasil-aks-demo"
stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: AzureCLI@2
      inputs:
        azureSubscription: 'azure-subscription-service-connection'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: 'az aks get-credentials --resource-group $(AKS_RG_NAME) --name $(AKS_NAME) --admin'
    - task: Bash@3
      displayName: 'Setup Permissions on Kubernetes'
      inputs:
        targetType: 'inline'
        script: |          
          cat <<EOF | kubectl apply -f -
          apiVersion: rbac.authorization.k8s.io/v1beta1
          kind: ClusterRole
          metadata:
            name: az-devops
          rules:
          - apiGroups: ["*"]
            resources: ["*"]
            verbs: ["*"]
          ---
          apiVersion: rbac.authorization.k8s.io/v1beta1
          kind: ClusterRoleBinding
          metadata:
            name: binding-az-devops
          roleRef:
            apiGroup: rbac.authorization.k8s.io
            kind: ClusterRole
            name: az-devops
          subjects:
          - kind: ServiceAccount
            name: az-devops
            namespace: az-devops
          EOF
    - task: Bash@3
      displayName: 'Create the Service Endpoint on Azure DevOps'
      inputs:
        targetType: 'inline'
        script: |          
          SERVICE_CONNECTION_NAME=$(kubectl config view --minify -o jsonpath={.clusters[0].name})
          # Create Kubernetes Namespace and Service Account
          kubectl create namespace az-devops
          kubectl create serviceaccount az-devops -n az-devops

          # Get parameters for curl request to Azure DevOps
          SERVER_URL=$(kubectl config view --minify -o jsonpath={.clusters[0].cluster.server})
          SECRET_NAME=$(kubectl get serviceAccounts az-devops -n az-devops -o=jsonpath={.secrets[*].name})
          TOKEN=$(kubectl get secret $SECRET_NAME -n az-devops -o jsonpath="{.data.token}")
          CERTIFICATE_TOKEN=$(kubectl get secret $SECRET_NAME -n az-devops -o jsonpath="{.data.ca\.crt}")

          curl -X POST \
                $(organizationUrl)'/'$(project)'/_apis/serviceendpoint/endpoints?api-version=5.1-preview.2' \
                -H 'cache-control: no-cache' \
                -H 'content-type: application/json' \
                -H 'authorization: Bearer $(System.AccessToken)' \
                -d '{
                          "data": {
                              "authorizationType": "ServiceAccount"
                          },
                          "name": "'$SERVICE_CONNECTION_NAME'",
                          "type": "kubernetes",
                          "url": "'$SERVER_URL'",
                          "description": "",
                          "authorization": {
                              "parameters": {
                                "serviceAccountCertificate": "'$CERTIFICATE_TOKEN'",
                                "apitoken": "'$TOKEN'",
                                  "isCreatedFromSecretYaml": "true"
                              },
                              "scheme": "Token"
                          },
                          "isShared": false,
                          "owner": "Library",
                          "serviceEndpointProjectReferences": [
                              {
                                  "projectReference": {
                                      "name": "'$(project)'"
                                  },
                                  "name": "'$SERVICE_CONNECTION_NAME'",
                                  "description": ""
                              }
                          ]
                      }'